<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials::head('Order Details')"></head>
<body>
<div th:replace="partials::header"></div>
<div th:replace="partials::navbar"></div>
<main role="main" class="uk-container">

    <div sec:authorize="hasRole('ROLE_DRIVER')">
        <h1>Product Details</h1>
        <div class="uk-card uk-card-hover uk-card-body uk-text-center uk-border-rounded product-card-color product-card">
            <h5 class="uk-card-title">Order: #<span th:text="${order.id}"></span></h5>
            <hr class="uk-divider-icon" />
            <h5><em>Delivery Address</em></h5>
            <p class=""><strong><span th:text="${order.tempAddress}"></span></strong></p>
            <h5><em>Date Ordered</em></h5>
            <p class=""><strong><span th:text="${order.date}"></span></strong></p>
            <hr class="uk-divider-icon" />
            <h5><em>User Details</em></h5>
            <p class="">User: #<span th:text="${order.userId.id}"></span><br/>Name: <span th:text="${order.userId.username}"></span></p>
            <div class="uk-inline" th:if="${order.getOrderStatusId().id} > 1">
                <form th:action="@{/drivers/assign}" method="post">
                    <input type="hidden" name="orderWithStatus1" th:value="${order.id}"/>
                    <button type="submit" th:value="${order.getOrderStatusId().getId()}">Preparing Order</button>
                </form>
                <form th:action="@{/drivers/delivery}" method="post">
                    <input type="hidden" name="orderWithStatus3" th:value="${order.id}"/>
                    <button type="submit" th:value="${order.getOrderStatusId().getId()}">Out for Delivery</button>
                </form>
                <form th:action="@{/drivers/delivered}" method="post">
                    <input type="hidden" name="orderWithStatus4" th:value="${order.id}"/>
                    <button type="submit" th:value="${order.getOrderStatusId().getId()}">Delivered</button>
                </form>
            </div>
            <div th:if="${order.getOrderStatusId().id} == 1">
                <span>Order Placed</span>
                <progress class="uk-progress" value="25" max="100"></progress>
            </div>
            <div th:if="${order.getOrderStatusId().id} == 2">
                <span>Preparing Order</span>
                <progress class="uk-progress" value="50" max="100"></progress>
            </div>
            <div th:if="${order.getOrderStatusId().id} == 3">
                <span>Out for Delivery</span>
                <progress class="uk-progress" value="75" max="100"></progress>
            </div>
            <div th:if="${order.getOrderStatusId().id} == 4">
                <span>Delivered</span>
                <progress class="uk-progress" value="100" max="100"></progress>
            </div>
        </div>
    </div>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <h1>Product Details</h1>
        <div class="uk-card uk-card-hover uk-card-body uk-text-center uk-border-rounded product-card-color product-card">
            <h5 class="uk-card-title">Order: #<span th:text="${order.id}"></span></h5>
            <hr class="uk-divider-icon" />
            <h5><em>Delivery Address</em></h5>
            <p class=""><strong><span th:text="${order.tempAddress}"></span></strong></p>
            <h5><em>Date Ordered</em></h5>
            <p class=""><strong><span th:text="${order.date}"></span></strong></p>
            <hr class="uk-divider-icon" />
            <h5><em>User Details</em></h5>
            <p class="">User: #<span th:text="${order.userId.id}"></span><br/>Name: <span th:text="${order.userId.username}"></span></p>
            <div class="uk-inline" th:if="${order.getOrderStatusId().id} > 1">
                <form th:action="@{/drivers/assign}" method="post">
                    <input type="hidden" name="orderWithStatus1" th:value="${order.id}"/>
                    <button type="submit" th:value="${order.getOrderStatusId().getId()}">Preparing Order</button>
                </form>
                <form th:action="@{/drivers/delivery}" method="post">
                    <input type="hidden" name="orderWithStatus3" th:value="${order.id}"/>
                    <button type="submit" th:value="${order.getOrderStatusId().getId()}">Out for Delivery</button>
                </form>
                <form th:action="@{/drivers/delivered}" method="post">
                    <input type="hidden" name="orderWithStatus4" th:value="${order.id}"/>
                    <button type="submit" th:value="${order.getOrderStatusId().getId()}">Delivered</button>
                </form>
            </div>
            <div th:if="${order.getOrderStatusId().id} == 1">
                <span>Order Placed</span>
                <progress class="uk-progress" value="25" max="100"></progress>
            </div>
            <div th:if="${order.getOrderStatusId().id} == 2">
                <span>Preparing Order</span>
                <progress class="uk-progress" value="50" max="100"></progress>
            </div>
            <div th:if="${order.getOrderStatusId().id} == 3">
                <span>Out for Delivery</span>
                <progress class="uk-progress" value="75" max="100"></progress>
            </div>
            <div th:if="${order.getOrderStatusId().id} == 4">
                <span>Delivered</span>
                <progress class="uk-progress" value="100" max="100"></progress>
            </div>
        </div>
    </div>
</main><!-- /.container -->
<div th:replace="partials::footer"></div>
<div th:replace="partials::scripts"></div>

</body>
</html>