<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials::head('User Details')"></head>
<body>
<div th:replace="partials::header"></div>
<div th:replace="partials::navbar"></div>
<main role="main" class="uk-container ">
    <h1 style="padding-right: 60px" class="uk-text-center uk-align-center">My Orders</h1>

        <table class="uk-table uk-table-divider table-center uk-text-center">
            <thead>
                <tr>
                    <th class="uk-text-center uk-width-small">Order#</th>
                    <th class="uk-text-center uk-width-small">Order Date</th>
                    <th class="uk-text-center uk-width-small">Order Status</th>
                </tr>
            </thead>
            <th:block th:each="order : ${orders}">
                <tr>
                    <td><p th:text="${order.id}"></p></td>
                    <td><p th:text="${order.date}"></p></td>
                    <th:block th:if="${order.orderStatusId.id} == 1">
                        <td><p>Preparing Order</p></td>
                    </th:block>
                    <th:block th:if="${order.orderStatusId.id} == 2">
                        <td><p>Ready for Delivery</p></td>
                    </th:block>
                    <th:block th:if="${order.orderStatusId.id} == 3">
                        <td><p>Out for Delivery</p></td>
                    </th:block>
                    <th:block th:if="${order.orderStatusId.id} == 4">
                        <td><p>Completed</p></td>
                    </th:block>
                    <th:block th:if="${order.orderStatusId.id} == 5">
                        <td><p>Pending ID Verification</p></td>
                    </th:block>
                </tr>
            </th:block>
        </table>

        <!--<div th:if="${order.getOrderStatusId().id} == 2">
            <span>Preparing</span>
            <progress class="uk-progress" value="50" max="100"></progress>
        </div>-->


    <!--<div th:each="order : ${orders}">-->
        <!--<div class="uk-card uk-card-hover uk-card-body uk-text-center">-->
            <!--<h5 class="uk-card-title">Order: #<span th:text="${order.id}"></span></h5>-->
            <!--<hr class="uk-divider-icon" />-->
            <!--<h5><em>Date Ordered</em></h5>-->
            <!--<p class=""><strong><span th:text="${order.date}"></span></strong></p>-->
            <!--<p class=""><strong><span th:text="${order.tempAddress}"></span></strong></p>-->
            <!--<hr class="uk-divider-icon" />-->
            <!--<h5><em>User Details</em></h5>-->
            <!--<p class="">User: #<span th:text="${order.userId.id}"></span><br/>Name: <span th:text="${order.userId.username}"></span></p>-->
        <!--</div>-->
    <!--</div>-->





    <!--<div sec:authorize="hasRole('ROLE_CUSTOMER')">-->
        <!--<h1>Product Details</h1>-->
        <!--<div tabindex="0" class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid uk-text-center" uk-scrollspy="cls: uk-animation-fade; target: > div > .uk-card; delay: 50; repeat: true">-->
            <!--<div th:each="order : ${myOrder}">-->
                <!--<div class="uk-card uk-card-hover uk-card-body uk-text-center">-->
                    <!--<h5 class="uk-card-title">Order: #<span th:text="${order.id}"></span></h5>-->
                    <!--<hr class="uk-divider-icon" />-->
                    <!--<h5><em>Date Ordered</em></h5>-->
                    <!--<p class=""><strong><span th:text="${order.date}"></span></strong></p>-->
                    <!--<hr class="uk-divider-icon" />-->
                    <!--<h5><em>User Details</em></h5>-->
                    <!--<p class="">User: #<span th:text="${order.userId.id}"></span><br/>Name: <span th:text="${order.userId.username}"></span></p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</main><!-- /.container -->
<div th:replace="partials::footer"></div>
<div th:replace="partials::scripts"></div>

</body>
</html>