<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials::head('Create Post')"></head>
<body>
    <div th:replace="partials::header"></div>
    <div th:replace="partials::navbar"></div>
<main role="main" class="uk-container">



    <form class="uk-form-width-medium" th:action="@{/products/create}" method="POST" th:object="${product}">
        <h1>Create Product</h1>
        Product:
        <input class="uk-input" th:field="*{title}" />
        <br />
        Description:
        <textarea class="uk-textarea" rows="3" th:field="*{body}" />
        <br />
        <div class="mt-1">
            <input class="uk-button uk-button-default uk-button-small" type="submit" value="Create Product" />
        </div>
    </form>


</main><!-- /.container -->
    <div th:replace="partials::footer"></div>
<div th:replace="partials::scripts"></div>

</body>
</html>