<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials::head('Edit Post')"></head>
<body>
<main role="main" class="container">
    <div th:replace="partials::header"></div>
    <div th:replace="partials::navbar"></div>



    <form th:action="@{'/products/' + ${product.getId()} + '/edit'}" method="POST" th:object="${product}">
        Title:
        <input class="form-control" th:field="*{title}" />
        <br />
        Body:
        <textarea class="form-control" rows="3" th:field="*{body}" />
        <br />
        <input type="submit" value="Confirm Edit" />
    </form>


    <div th:replace="partials::footer"></div>
</main><!-- /.container -->
<div th:replace="partials::scripts"></div>

</body>
</html>