<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials::head('Edit Post')"></head>
<body>
    <div th:replace="partials::header"></div>
    <div th:replace="partials::navbar"></div>
<main role="main" class="uk-container">



    <form class="uk-form-width-medium" th:action="@{'/products/' + ${product.getId()} + '/edit'}" method="POST" th:object="${product}">
        <h1>Edit Product</h1>
        Product:
        <input class="uk-input" th:field="*{title}" />
        <br />
        Description:
        <textarea class="uk-textarea" rows="3" th:field="*{body}" />
        <br />
        <div class="mt-1">
            <input class="uk-button uk-button-default uk-button-small" type="submit" value="Edit Product" />
        </div>
    </form>


</main><!-- /.container -->
    <div th:replace="partials::footer"></div>
<div th:replace="partials::scripts"></div>

</body>
</html>