<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials::head('Products Home')"></head>
<body>
    <div th:replace="partials::header"></div>
    <div th:replace="partials::navbar"></div>
<main role="main" class="uk-container">

    <h1>Shop Beer, Wine, and Liquor</h1>
    <h3>1-Hour Delivery. Free Pickup. Shipping.</h3>
    <!--<div class="uk-child-width-1-3@m uk-text-center uk-grid" uk-scrollspy="cls: uk-animation-fade; target: > div > .uk-card; delay: 250; repeat: true">-->
        <!--<div th:each="product:${products}" class="uk-card uk-card-hover uk-card-body">-->
                <!--<h5 class="uk-card-title"><a th:href="'/products/' + ${product.id}"><span th:text="${product.title}"></span></a></h5>-->
                <!--<p class=""><span th:text="${product.body}"></span> </p>-->
        <!--</div>-->
    <!--</div>-->

    <div tabindex="0" class="uk-child-width-1-3@m uk-grid uk-text-center" uk-scrollspy="cls: uk-animation-fade; target: > div > .uk-card; delay: 75; repeat: true">
        <div th:each="product : ${products}">
            <div class="uk-card uk-card-hover uk-card-body uk-margin-medium-bottom">
                <h5 class="uk-card-title"><a th:href="'/products/' + ${product.id}"><span
                    th:text="${product.name}"></span></a></h5>
                <p th:text="${product.details}"></p>
            </div>
        </div>
    </div>

</main><!-- /.container -->
<div th:replace="partials::footer"></div>
<div th:replace="partials::scripts"></div>

</body>
</html>