<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials::head('Products Home')"></head>
<body>
    <div th:replace="partials::header"></div>
    <div th:replace="partials::navbar"></div>
<main role="main" class="uk-container">



    <h3>Here is a list of posts:</h3>
    <div class="uk-child-width-1-3 uk-text-center uk-grid">
        <div th:each="product:${products}" class="uk-card uk-card-hover uk-card-body">
                <h5 class="uk-card-title"><a th:href="'/products/' + ${product.id}"><span th:text="${product.title}"></span></a></h5>
                <p class=""><span th:text="${product.body}"></span> </p>
        </div>
    </div>


</main><!-- /.container -->
<div th:replace="partials::footer"></div>
<div th:replace="partials::scripts"></div>

</body>
</html>