<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials::head('All Products')"></head>
<body>
    <div th:replace="partials::header"></div>
    <div th:replace="partials::navbar"></div>
<main role="main" class="uk-container">

    <h1 class="uk-text-center">Shop Beer, Wine, and Liquor</h1>
    <h3 class="uk-text-center">30-Minute Delivery. Free Pickup. Shipping.</h3>

    <div sec:authorize="!isAuthenticated()">
        <div tabindex="0" class="uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center uk-grid" uk-scrollspy="cls: uk-animation-fade; target: > div > .uk-card; delay: 35; repeat: true">
            <div th:each="product : ${products}">
                <div class="uk-card uk-card-hover uk-card-body uk-padding-small uk-margin-medium-bottom uk-border-rounded product-card-color product-card">
                    <a th:href="'/products/' + ${product.id}"><img th:src="${product.imgUrl}" style="width: 66px; height: 200px;" alt="" /></a>
                    <!--<div class="product-card" th:style="'background-image: url(' + ${product.imgUrl} + ')'">-->

                    <h5 class="uk-card-title remove-margin h5-liner"><a th:href="'/products/' + ${product.id}"><span
                        th:text="${product.name}"></span></a></h5>
                    <hr class="uk-divider-icon remove-margin" />
                    <em><p class="remove-margin" th:text="${product.type}"></p></em>
                    <p class="remove-margin"><strong class="list-font">$<span th:text="${product.price}"></span></strong></p>
                    <div class="remove-margin">
                        <a href="/login" class="uk-button uk-button-default uk-button-small uk-border-rounded">Add to cart</a>
                    </div>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

    <div sec:authorize="hasRole('ROLE_CUSTOMER')">
        <div tabindex="0" class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid uk-text-center" uk-scrollspy="cls: uk-animation-fade; target: > div > .uk-card; delay: 35; repeat: true">
            <div th:each="product : ${products}">
                <div class="uk-card uk-card-hover uk-card-body uk-padding-small uk-margin-medium-bottom uk-border-rounded product-card-color product-card">
                    <a th:href="'/products/' + ${product.id}"><img th:src="${product.imgUrl}" style="width: 66px; height: 200px;" alt="" /></a>
                    <!--<div class="product-card" th:style="'background-image: url(' + ${product.imgUrl} + ')'">-->

                    <h5 class="uk-card-title remove-margin h5-liner"><a th:href="'/products/' + ${product.id}"><span
                            th:text="${product.name}"></span></a></h5>
                    <hr class="uk-divider-icon remove-margin" />
                    <em><p class="remove-margin" th:text="${product.type}"></p></em>
                    <p class="remove-margin"><strong class="list-font">$<span th:text="${product.price}"></span></strong></p>
                    <div class="remove-margin">
                        <form method="POST" th:action="@{'/shoppingCart/addProduct/' + ${product.id}}">
                            <input type="submit" value="ADD TO CART" class="uk-button uk-button-default uk-button-small uk-border-rounded" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div sec:authorize="hasRole('ROLE_DRIVER')">
        <div tabindex="0" class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid uk-text-center" uk-scrollspy="cls: uk-animation-fade; target: > div > .uk-card; delay: 35; repeat: true">
            <div th:each="product : ${products}">
                <div class="uk-card uk-card-hover uk-card-body uk-padding-small uk-margin-medium-bottom uk-border-rounded product-card-color product-card">
                    <a th:href="'/products/' + ${product.id}"><img th:src="${product.imgUrl}" style="width: 66px; height: 200px;" alt="" /></a>
                    <!--<div class="product-card" th:style="'background-image: url(' + ${product.imgUrl} + ')'">-->

                    <h5 class="uk-card-title remove-margin h5-liner"><a th:href="'/products/' + ${product.id}"><span
                            th:text="${product.name}"></span></a></h5>
                    <hr class="uk-divider-icon remove-margin" />
                    <em><p class="remove-margin" th:text="${product.type}"></p></em>
                    <p class="remove-margin"><strong class="list-font">$<span th:text="${product.price}"></span></strong></p>
                    <!--<div class="remove-margin">-->
                        <!--<form method="POST" th:action="@{'/shoppingCart/addProduct/' + ${product.id}}">-->
                            <!--<input type="submit" value="ADD TO CART" class="uk-button uk-button-default uk-button-small uk-border-rounded" />-->
                        <!--</form>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <div tabindex="0" class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid uk-text-center" uk-scrollspy="cls: uk-animation-fade; target: > div > .uk-card; delay: 35; repeat: true">
            <div th:each="product : ${products}">
                <div class="uk-card uk-card-hover uk-card-body uk-padding-small uk-margin-medium-bottom uk-border-rounded product-card-color product-card">
                    <a th:href="'/products/' + ${product.id}"><img th:src="${product.imgUrl}" style="width: 66px; height: 200px;" alt="" /></a>
                    <!--<div class="product-card" th:style="'background-image: url(' + ${product.imgUrl} + ')'">-->

                    <h5 class="uk-card-title remove-margin h5-liner"><a th:href="'/products/' + ${product.id}"><span
                            th:text="${product.name}"></span></a></h5>
                    <hr class="uk-divider-icon remove-margin" />
                    <em><p class="remove-margin" th:text="${product.type}"></p></em>
                    <p class="remove-margin"><strong class="list-font">$<span th:text="${product.price}"></span></strong></p>
                    <div class="remove-margin">
                        <a th:href="@{'/products/' + ${product.getId()} + '/edit'}" class="uk-button uk-button-default uk-button-small uk-border-rounded">Edit</a>
                        <a th:href="@{'/products/' + ${product.getId()} + '/delete'}" class="uk-button uk-button-default uk-button-small uk-border-rounded">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main><!-- /.container -->
<div th:replace="partials::footer"></div>
<div th:replace="partials::scripts"></div>


</body>
</html>