<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials::head('Create Post')"></head>
<body>
<main role="main" class="container">
    <div th:replace="partials::header"></div>
    <div th:replace="partials::navbar"></div>



    <form action="/posts/create" method="post" th:object="${post}">
        Title:
        <input class="form-control" th:field="*{title}" />
        <br />
        Body:
        <textarea class="form-control" rows="3" th:field="*{body}" />
        <br />
        User:
        <input class="form-control" th:field="*{user}" />
        <br />
        <input type="submit" value="Create Post" />
    </form>


    <div th:replace="partials::footer"></div>
</main><!-- /.container -->
<div th:replace="partials::scripts"></div>

</body>
</html>