<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials::head('Login')"></head>
<body>
<main role="main" class="container">
    <div th:replace="partials::header"></div>
    <div th:replace="partials::navbar"></div>
<h1>Log In</h1>
<div th:if="${param.error}">
    Invalid Username and Password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<form th:action="@{/login}" method="post">
    <label for="username">Username</label>
    <input class="form-control" id="username" name="username" type="text" />
    <label for="password">Password</label>
    <input class="form-control" id="password" name="password" type="password" />
    <input type="submit" value="Log In" />
    <a th:href="@{/sign-up}" class="btn btn-success mb-2">Sign Up</a>
</form>
    <div th:replace="partials::footer"></div>
</main><!-- /.container -->
<div th:replace="partials::scripts"></div>
</body>
</html>