<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials::head('My Account')"></head>
<body>
<div th:replace="partials::header"></div>
<div th:replace="partials::navbar"></div>
<main role="main" class="uk-container">
    <div sec:authorize="hasRole('ROLE_CUSTOMER')">
        <form class="uk-form-width-medium" th:action="@{/profile/edit}" method="POST" th:object="${user}">
            <h1>Edit Profile</h1>
            First Name:
            <input class="uk-input uk-border-rounded" th:field="*{first_name}" />
            <br />
            Last Name:
            <input class="uk-input uk-border-rounded" th:field="*{last_name}" />
            <br />
            Address 1:
            <input class="uk-input uk-border-rounded" th:field="*{address1}" />
            <br />
            Address 2:
            <input class="uk-input uk-border-rounded" th:field="*{address2}" />
            <br />
            City:
            <input class="uk-input uk-border-rounded" th:field="*{city}" />
            <br />
            State:
            <input class="uk-input uk-border-rounded" th:field="*{state}" />
            <br />
            Zip Code:
            <input class="uk-input uk-border-rounded" th:field="*{postalCode}" />
            <br />
            Phone Number:
            <input class="uk-input uk-border-rounded" th:field="*{phone_number}" />
            <br />
            DOB:
            <input type="date" class="uk-input uk-border-rounded" th:field="*{dob}" />
            <br />
            Username:
            <input class="uk-input uk-border-rounded" th:field="*{username}" />
            <br />
            Email:
            <input class="uk-input uk-border-rounded" th:field="*{email}" />
            <br />
            Password:
            <input class="uk-input uk-border-rounded" type="password" th:value="*{password}" />
            <br />
            <div class="mt-1">
                <input class="uk-button uk-button-default uk-button-small uk-border-rounded" type="submit" value="Edit Profile" />
            </div>
        </form>
    </div>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        The ADMIN will see this.
    </div>

    <div sec:authorize="hasRole('ROLE_DRIVER')">
        The DRIVER will see this.
    </div>

</main><!-- /.container -->
<div th:replace="partials::footer"></div>
<div th:replace="partials::scripts"></div>

</body>
</html>
