<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials::head('My Account')"></head>
<body>
<div th:replace="partials::header"></div>
<div th:replace="partials::navbar"></div>
<main role="main" class="uk-container">

    <div sec:authorize="hasRole('ROLE_CUSTOMER')">
        <!--<div class="uk-form-width-medium" th:object="${user}">-->
            <h1>Edit Profile</h1>
            First Name:
            <label class="uk-input uk-border-rounded" th:text ="${#authentication.getPrincipal().getUser().getFirst_name}" />
            <br />
            <!--Last Name:-->
            <!--<label class="uk-input uk-border-rounded" th:label="${user.last_name}" />-->
            <!--<br />-->
            <!--Address 1:-->
            <!--<label class="uk-input uk-border-rounded" th:label="${user.address1}" />-->
            <!--<br />-->
            <!--Address 2:-->
            <!--<label class="uk-input uk-border-rounded" th:label="${user.address2}" />-->
            <!--<br />-->
            <!--City:-->
            <!--<label class="uk-input uk-border-rounded" th:label="${user.city}" />-->
            <!--<br />-->
            <!--State:-->
            <!--<label class="uk-input uk-border-rounded" th:label="${user.state}" />-->
            <!--<br />-->
            <!--Zip Code:-->
            <!--<label class="uk-input uk-border-rounded" th:label="${user.postalCode}" />-->
            <!--<br />-->
            <!--Phone Number:-->
            <!--<label class="uk-input uk-border-rounded" th:label="${user.phone_number}" />-->
            <!--<br />-->
            <!--DOB:-->
            <!--<label type="date" class="uk-input uk-border-rounded" th:label="${user.dob}" />-->
            <!--<br />-->
        </div>
    <!--</div>-->

    <a href=""><input type="text" name="" id="" value="Upload ID" /></a>
    <a href="/profile/edit"><input type="button" class="uk-input uk-border-rounded" value="Edit Profile" /></a>

</main><!-- /.container -->
<div th:replace="partials::footer"></div>
<div th:replace="partials::scripts"></div>

</body>
</html>
