<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials::head('Sign Up')"></head>
<body>
    <div th:replace="partials::header"></div>
    <div th:replace="partials::navbar"></div>

<main role="main" class="uk-container uk-text-center uk-align-center">
    <div class="uk-position-center sign-up custom-card uk-border-rounded uk-margin-medium-top">
        <h1>Create an<br/>account</h1>
        <form class="uk-form-width-large uk-visible@m" th:action="@{/sign-up}" method="POST" th:object="${user}">

            <label class="uk-text-large" for="username">Username</label>
            <input class="uk-input uk-border-rounded" id="username" th:field="*{username}" />
            <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                   class="uk-alert-danger"></label>
            <br />

            <label class="uk-text-large" for="email">Email</label>
            <input class="uk-input uk-border-rounded" id="email" th:field="*{email}" />
            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                   class="uk-alert-danger"></label>
            <br />

            <label class="uk-text-large" for="password">Password</label>
            <input class="uk-input uk-border-rounded" id="password" type="password" th:field="*{password}" />
            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                   class="uk-alert-danger"></label>
            <br />

            <div class="mt-1">
                <button class="uk-button uk-button-primary uk-button-small uk-border-rounded" type="submit">Sign me up!</button>
                <a class="uk-button uk-button-primary uk-button-small uk-border-rounded" th:href="@{/login}">Back to Login</a>
            </div>
        </form>

        <form class="uk-form-width-medium uk-hidden@m uk-text-center uk-align-center" th:action="@{/sign-up}" method="POST" th:object="${user}">

            <label class="uk-text-large" for="username">Username</label>
            <input class="uk-input uk-border-rounded" id="username2" th:field="*{username}" />
            <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                   class="uk-alert-danger"></label>
            <br />

            <label class="uk-text-large" for="email">Email</label>
            <input class="uk-input uk-border-rounded" id="email2" th:field="*{email}" />
            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                   class="uk-alert-danger"></label>
            <br />

            <label class="uk-text-large" for="password">Password</label>
            <input class="uk-input uk-border-rounded" id="password2" type="password" th:field="*{password}" />
            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                   class="uk-alert-danger"></label>
            <br />

            <div class="mt-1">
                <button class="uk-button uk-button-primary uk-button-small uk-border-rounded uk-margin-small-bottom" type="submit">Sign me up!</button>
                <a class="uk-button uk-button-primary uk-button-small uk-border-rounded" th:href="@{/login}">Back to Login</a>
            </div>
        </form>
    </div>
</main>
    <div th:replace="partials::footer"></div>
<div th:replace="partials::scripts"></div>
</body>
</html>