<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials::head('Sign In')"></head>
<body>
<main role="main" class="container">
    <div th:replace="partials::header"></div>
    <div th:replace="partials::navbar"></div>
    <div class="ml-1">
        <h1>Create an account</h1>
        <form class="uk-form-width-medium" th:action="@{/sign-up}" method="POST" th:object="${user}">
            <label class="uk-text-large" for="username">Username</label>
            <input class="uk-input" id="username" th:field="*{username}" />

            <label class="uk-text-large" for="email">Email</label>
            <input class="uk-input" id="email" th:field="*{email}" />

            <label class="uk-text-large" for="password">Password</label>
            <input class="uk-input" id="password" type="password" th:field="*{password}" />

            <div class="mt-1">
                <input class="uk-button uk-button-default uk-button-small" value="Sign me up!" type="submit" />
                <a class="uk-button uk-button-default uk-button-small" th:href="@{/login}">Back to Login</a>
            </div>
        </form>
    </div>
    <div th:replace="partials::footer"></div>
</main>
<div th:replace="partials::scripts"></div>
</body>
</html>