<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials::head('About Us')"></head>
<link th:href="@{/css/flip-card.css}" rel="stylesheet"/>
<body>
<div th:replace="partials::header"></div>
<div th:replace="partials::navbar"></div>
<main role="main" class="uk-container">

    <div class="uk-margin-medium-top uk-grid-medium uk-child-width-expand@s uk-text-center uk-grid">
        <div>
        <div class="uk-card uk-card-hover uk-card-body uk-padding-small product-card-color uk-border-rounded">
            <img class="circle-radius" src="https://cdn.discordapp.com/attachments/178547154908872704/541409738043424798/codeup_yz-18-0079_1500pxx1500px.jpg" style="width: 200px; height: 200px;" alt="Mark Stachowski" />

            <div class="indie"><strong>Mark Stachowski</strong></div>
            <div class="uk-flex uk-flex-column uk-text-center uk-card-footer" style="display: inline;">
                <a class="about-icon" target="_blank" href="https://alumni.codeup.com/students/558"><i class="fas fa-file-alt fa-3x"></i></a>
                <a class="about-icon" target="_blank" href="https://github.com/markstachowski"><i class="fab fa-github-square fa-3x"></i></a>
                <a class="about-icon" target="_blank" href="https://www.linkedin.com/in/mstachowski/"><i class="fab fa-linkedin fa-3x"></i></a>
            </div>
        </div>
        </div>
        <div>

        <div class="uk-card uk-card-hover uk-card-body uk-padding-small product-card-color uk-border-rounded">
            <img class="circle-radius" src="https://cdn.discordapp.com/attachments/178547154908872704/540632438712303637/codeup_jpeg.jpg" style="width: 200px; height: 200px;" alt="Julian Lundquist" />

            <div class="indie"><strong>Julian Lundquist</strong></div>
            <div class="uk-flex uk-flex-column uk-text-center uk-card-footer" style="display: inline;">
                <a class="about-icon" target="_blank" href="http://alumni.codeup.com/students/565"><i class="fas fa-file-alt fa-3x"></i></a>
                <a class="about-icon" target="_blank" href="https://github.com/julian-lundquist"><i class="fab fa-github-square fa-3x"></i></a>
                <a class="about-icon" target="_blank" href="https://www.linkedin.com/in/jlun/"><i class="fab fa-linkedin fa-3x"></i></a>
            </div>
        </div>
        </div>
        <div>

        <div class="uk-card uk-card-hover uk-card-body uk-padding-small product-card-color uk-border-rounded">
            <img class="circle-radius" src="https://cdn.discordapp.com/attachments/178547154908872704/540632402167595018/image.png" style="width: 200px; height: 200px;" alt="Enrique Hernandez" />

            <div class="indie"><strong>Enrique Hernandez</strong></div>
            <div class="uk-flex uk-flex-column uk-text-center uk-card-footer" style="display: inline;">
                <a class="about-icon" target="_blank" href="http://alumni.codeup.com/students/553"><i class="fas fa-file-alt fa-3x"></i></a>
                <a class="about-icon" target="_blank" href="https://github.com/ehernandez3"><i class="fab fa-github-square fa-3x"></i></a>
                <a class="about-icon" target="_blank" href="https://www.linkedin.com/in/enrique-hernandez3/"><i class="fab fa-linkedin fa-3x"></i></a>
            </div>
        </div>
        </div>
    </div>
</main><!-- /.container -->
<div th:replace="partials::footer"></div>
<div th:replace="partials::scripts"></div>

</body>
</html>