<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials::head('Edit Post')"></head>
<body>
<div th:replace="partials::header"></div>
<div th:replace="partials::navbar"></div>
<main role="main" class="uk-container">
    <div class="uk-grid-small uk-child-width-expand@s uk-text-center uk-grid">
        <div>
            <img class="circle-radius" src="https://cdn.discordapp.com/attachments/178547154908872704/540632930775597095/codeup_yz-18-0079.jpg" style="width: 200px; height: 200px;" alt="Mark" />
        </div>
        <div>
            <div>
            <img class="circle-radius" src="https://cdn.discordapp.com/attachments/178547154908872704/540632438712303637/codeup_jpeg.jpg" style="width: 200px; height: 200px;" alt="Julian" />
            </div>
            <a target="_blank" href="https://github.com/julian-lundquist">Github</a>
            <a href="https://www.linkedin.com/in/jlun/">LinkedIn</a>
            <a href="http://alumni.codeup.com/students/565">Alumni Profile</a>
        </div>
        <div>
            <img class="circle-radius" src="https://cdn.discordapp.com/attachments/178547154908872704/540632402167595018/image.png" style="width: 200px; height: 200px;" alt="Enrique" />
        </div>
    </div>
</main><!-- /.container -->
<div th:replace="partials::footer"></div>
<div th:replace="partials::scripts"></div>

</body>
</html>