<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials::head('Shopping Cart')"></head>
<body>
<div th:replace="partials::header"></div>
<div th:replace="partials::navbar"></div>
<main role="main" class="container">

    <div class="custom-card uk-border-rounded" sec:authorize="!isAuthenticated()">
        <a href="/login"><h1 class="uk-text-large uk-text-center uk-margin-remove"> Please Login to View your Cart</h1></a>
    </div>

    <div class="uk-margin-medium-top" sec:authorize="isAuthenticated()">
        <div tabindex="0" class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid uk-text-center" uk-scrollspy="cls: uk-animation-fade; target: > div > .uk-card; delay: 50; repeat: true">
            <div th:each="product : ${products.entrySet()}">
                <div class="uk-card uk-card-hover uk-card-body remove-top-padding remove-margin uk-margin-medium-bottom uk-border-rounded product-card-color product-card">
                    <img th:src="${product.getKey().imgUrl}" style="width: 66px; height: 200px;" alt="" />
                    <h1 class="uk-card-title remove-margin"><a th:text="${product.getKey().name}" th:href="@{'/products/' + ${product.getKey().id}}">Title</a></h1>
                    <hr class="uk-divider-icon remove-bottom-margin" />
                    <p class="remove-margin"><em>Type</em></p>
                    <p class="remove-margin" th:text="${product.getKey().type}">Type</p>
                    <hr class="uk-divider-icon remove-bottom-margin" />
                    <div th:inline="text" class=""><em>Price: $[[${product.getKey().price}]]</em></div>
                    <div th:inline="text" class="">Quantity: [[${product.getValue()}]]</div>
                    <form method="POST" th:action="@{'/shoppingCart/removeProduct/' + ${product.getKey().id}}" class="">
                        <button type="button" class="uk-button uk-button-default uk-button-small uk-border-rounded uk-margin-small-top" th:text="Remove">Remove</button>
                    </form>
                </div>
            </div>
            <div class="uk-grid uk-width-large-1-1 uk-visible-large uk-align-center remove-margin custom-card uk-border-rounded">
                <!--<input type="hidden" name="temp_address" th:value="${temp_address}"/>-->
                <h2 class="" th:inline="text">Total in cart: $[[${total}]]</h2>
                <br />
                <form class="uk-align-center remove-margin" th:action="@{'/shoppingCart/checkout'}" method="GET">
                    <h4 class="remove-margin">Delivery Address</h4>
                    <input class="uk-input uk-border-rounded uk-width-medium checkout-box uk-margin-small-bottom" id="checkout_address" name="checkout_address" type="text" />
                    <br/>
                    <div class="uk-margin-small-bottom">
                        <script
                                th:method="POST"
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="pk_test_TYooMQauvdEDq54NiTphI7jx"
                                th:attr="data-amount=${total_stripe}"
                                data-name="KWIKRLIQUOR"
                                data-description='Alcohol Delivery'
                                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                data-locale="auto"
                                data-zip-code="true">
                        </script>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main><!-- /.container -->
<div th:replace="partials::footer"></div>
<div th:replace="partials::scripts"></div>
<script>
    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('checkout_address')),
            {types: ['geocode']});
    }
</script>
</body>
</html>